Credential Rotation Workflow.json
{
  "name": "Credential Rotation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -368
      ],
      "id": "57544005-cb8f-4cb4-958b-dadff3146a6a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.rolname AS username\nFROM pg_roles r\nWHERE has_database_privilege(r.rolname, 'postgres', 'CONNECT')\n  AND r.rolname NOT IN (\n    'pg_database_owner',\n    'pg_read_all_data', \n    'pg_write_all_data',\n    'pg_monitor',\n    'qt-',\n    'myuser',\n    'pg_signal_backend',\n    'slo-postgres-readonly',\n    'postgres-readonly',\n    'migration',\n    'pg_read_all_settings',\n    'pg_read_all_stats',\n    'pg_stat_scan_tables'\n  )\n  AND r.rolname NOT LIKE 'pg_%'  -- Exclude all pg_* system roles\nORDER BY r.rolname;",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        32
      ],
      "id": "3f1da92d-1a6b-41e0-b8e0-a0fc4f443735",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "D6FeGSd3lVX9A0fN",
          "name": "Postgres account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        320
      ],
      "id": "cd96cbde-c151-4013-8e46-66dac03d8985",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        480,
        336
      ],
      "id": "31e8f5ab-d5bd-4507-8428-0031e7b8b1c6",
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const generatePassword = () => {\n    const length = 20;\n    const charset = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+';\n    let password = '';\n    for (let i = 0; i < length; i++) {\n        const randomIndex = Math.floor(Math.random() * charset.length);\n        password += charset[randomIndex];\n    }\n    return password;\n};\n\nconst user = $input.item.json;\nconst newPassword = generatePassword();\n\nreturn {\n    username: user.username,\n    newPassword: newPassword\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        144
      ],
      "id": "572075c0-1a95-4e57-a671-81bc9b9adf8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER USER \"{{$json.username}}\" WITH PASSWORD '{{$json.newPassword}}';",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        144
      ],
      "id": "e4b14231-9bd5-4126-a51f-bed95a041f72",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "D6FeGSd3lVX9A0fN",
          "name": "Postgres account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reference the Code node that generated the password\nconst passwordData = $node['Code in JavaScript'].json;\n\n// Base64 encode the values\nconst base64Username = Buffer.from(passwordData.username).toString('base64');\nconst base64Password = Buffer.from(passwordData.newPassword).toString('base64');\n\nreturn {\n    username: passwordData.username,\n    newPassword: passwordData.newPassword,\n    base64Username: base64Username,\n    base64Password: base64Password\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        144
      ],
      "id": "aaffc034-d317-4375-bc11-e407b4d98133",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://1.1.1.1:6443/api/v1/namespaces/default/secrets/backend-secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "\tContent-Type",
              "value": "application/strategic-merge-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"DB_USERNAME\": \"{{$json.base64Username}}\",\n    \"DB_PASSWORD\": \"{{$json.base64Password}}\",\n    \"DB_ACCOR_USERNAME\": \"{{$json.base64Username}}\",\n    \"DB_ACCOR_PASSWORD\": \"{{$json.base64Password}}\",\n    \"DB_USERNAME_LOG\": \"{{$json.base64Username}}\",\n    \"DB_PASSWORD_LOG\": \"{{$json.base64Password}}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        144
      ],
      "id": "b8de4f6c-cba2-44f1-b415-c9171df0882c",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "Yxof34MNhoD5GwyD",
          "name": "Bearer Auth account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://1.1.1.1:6443/apis/apps/v1/namespaces/default/deployments/backend",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/strategic-merge-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"spec\": {\n    \"template\": {\n      \"metadata\": {\n        \"annotations\": {\n          \"kubectl.kubernetes.io/restartedAt\": \"{{new Date().toISOString()}}\"\n        }\n      }\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        -672
      ],
      "id": "46aef111-4df9-4e75-9d88-2ec16649ce75",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "Yxof34MNhoD5GwyD",
          "name": "Bearer Auth account 5"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the restart deployment result\nconst restartData = $input.first().json;\n\n// Get user data from password generator node\nconst userData = $node['Code in JavaScript'].json; // Your password generator node\n\n// Extract deployment name correctly\nlet deploymentName = \"Unknown\";\n\n// Try different paths to get the deployment name\nif (restartData && restartData.metadata && restartData.metadata.name) {\n    deploymentName = restartData.metadata.name;\n} else if (restartData && restartData.name) {\n    deploymentName = restartData.name;\n} else if (restartData && restartData.deploymentName) {\n    deploymentName = restartData.deploymentName;\n} else if (userData && userData.deploymentName) {\n    deploymentName = userData.deploymentName;\n}\n\n// Check if restart succeeded\nlet success = false;\nlet errorMessage = \"\";\nlet failedStep = \"\";\n\nif (restartData && restartData.metadata && restartData.metadata.name) {\n    success = true;\n    errorMessage = \"\";\n    failedStep = \"\";\n} else if (restartData && restartData.code) {\n    success = false;\n    errorMessage = `HTTP Error: ${restartData.code} - ${restartData.message || 'Unknown error'}`;\n    failedStep = \"Deployment Restart\";\n} else if (!restartData || Object.keys(restartData).length === 0) {\n    success = false;\n    errorMessage = \"No response from Kubernetes API\";\n    failedStep = \"Deployment Restart\";\n} else {\n    success = true; // Assume success if we got data\n    errorMessage = \"\";\n    failedStep = \"\";\n}\n\nreturn {\n    username: userData.username,\n    newPassword: userData.newPassword,\n    success: success,\n    errorMessage: errorMessage,\n    failedStep: failedStep,\n    timestamp: new Date().toISOString(),\n    deploymentName: deploymentName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -720
      ],
      "id": "5f771808-0fc7-4b4f-b3a0-1f911edc91c2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N Database & Secret Rotation Workflow",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background-color: #4CAF50; color: white; padding: 10px; text-align: center; border-radius: 5px; }\n        .content { padding: 20px; border: 1px solid #ddd; border-radius: 5px; margin-top: 10px; }\n        .details { background-color: #f9f9f9; padding: 15px; margin: 15px 0; border-radius: 5px; }\n        .password { font-family: monospace; background-color: #f4f4f4; padding: 10px; border-radius: 5px; font-size: 14px; }\n        .footer { font-size: 12px; color: #666; text-align: center; margin-top: 20px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2>✅ Database  - Password Rotation Complete</h2>\n        </div>\n        <div class=\"content\">\n            <p>Hello,</p>\n            <p>The database password has been successfully rotated for:</p>\n            \n            <div class=\"details\">\n                <p><strong>Username:</strong> {{$json.username}}</p>\n                <p><strong>New Password:</strong> <code class=\"password\">{{$json.newPassword}}</code></p>\n                <p><strong>Deployment:</strong> {{$json.deploymentName}}</p>\n                <p><strong>Rotation Time:</strong> {{$json.timestamp}}</p>\n            </div>\n            \n            <h3>Actions Completed:</h3>\n            <ul>\n                <li>✅ PostgreSQL user password updated</li>\n                <li>✅ Kubernetes secret updated (db-credentials)</li>\n                <li>✅ Deployment restarted ({{$json.deploymentName}})</li>\n            </ul>\n            \n            <p><strong>⚠️ Important:</strong> Please update any applications or services that use these credentials.</p>\n            \n            <hr>\n            <p><em>This is an automated security notification from n8n workflow.</em></p>\n        </div>\n        <div class=\"footer\">\n            <p>Database & Secret Rotation Workflow | n8n Automation</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2976,
        -720
      ],
      "id": "644b4c84-baba-48e9-8fae-af6f6afa12b9",
      "name": "Send an Email",
      "webhookId": "0c856568-e834-4ddb-ab7c-3f93c0a388ea",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the restart deployment result (this contains the HTTP response or error)\nconst restartData = $input.first().json;\n\n// Get user data from password generator node\nconst userData = $node['Code in JavaScript'].json;\n\n// Initialize variables\nlet success = false;\nlet errorMessage = \"\";\nlet failedStep = \"\";\nlet deploymentName = \"backend\";\n\n// Check what kind of response we got\nif (restartData) {\n    // Case 1: n8n error object (when Continue on Fail is enabled)\n    if (restartData.error) {\n        success = false;\n        errorMessage = restartData.error.message || \"Unknown error occurred\";\n        failedStep = restartData.error.description || \"HTTP Request\";\n        \n        // Check for 404 not found\n        if (errorMessage.includes(\"404\") || errorMessage.includes(\"not found\")) {\n            failedStep = \"Kubernetes Secret/Deployment (404 Not Found)\";\n            errorMessage = \"Resource not found - The Kubernetes secret or deployment does not exist\";\n        }\n    }\n    // Case 2: HTTP Error Response with code\n    else if (restartData.code && restartData.code !== 200) {\n        success = false;\n        errorMessage = restartData.message || `HTTP Error ${restartData.code}`;\n        failedStep = restartData.message?.includes(\"not found\") ? \"Kubernetes Secret/Deployment\" : \"Kubernetes API\";\n        \n        if (restartData.code === 404) {\n            errorMessage = \"Resource not found - The Kubernetes secret or deployment does not exist\";\n            failedStep = \"Kubernetes Resource (404)\";\n        }\n    }\n    // Case 3: Kubernetes API error status\n    else if (restartData.kind === \"Status\" && restartData.code && restartData.code !== 200) {\n        success = false;\n        errorMessage = restartData.message || `Kubernetes API Error: ${restartData.reason || 'Unknown'}`;\n        failedStep = \"Kubernetes API\";\n    }\n    // Case 4: Successful response with metadata\n    else if (restartData.metadata && restartData.metadata.name) {\n        success = true;\n        errorMessage = \"\";\n        failedStep = \"\";\n        deploymentName = restartData.metadata.name;\n    }\n    // Case 5: Unexpected response\n    else {\n        // If we got here but don't have error, consider it success\n        success = true;\n        errorMessage = \"\";\n        failedStep = \"\";\n    }\n} else {\n    // Case 6: No data returned\n    success = false;\n    errorMessage = \"No response received from Kubernetes API\";\n    failedStep = \"Kubernetes API\";\n}\n\nreturn [\n    {\n        json: {\n            username: userData.username,\n            newPassword: userData.newPassword,\n            success: success,\n            errorMessage: errorMessage,\n            failedStep: failedStep,\n            timestamp: new Date().toISOString(),\n            deploymentName: deploymentName\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -688
      ],
      "id": "ae9a223f-eae8-4852-be77-c535dbfa76db",
      "name": "Code in JavaScript3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2018c1d8-031f-4876-8e34-637feb70e51c",
              "leftValue": "={{$json.success}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2608,
        -704
      ],
      "id": "8c5c570e-835a-461c-86f1-96231a0c8f2b",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N ⚠️ FAILURE: Database Password Rotation Failed - {{$json.username}}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; }\n        .container { max-width: 650px; margin: 0 auto; padding: 20px; }\n        .header { background-color: #f44336; color: white; padding: 15px; text-align: center; border-radius: 5px; }\n        .content { padding: 20px; border: 1px solid #ddd; border-radius: 5px; margin-top: 10px; }\n        .error { color: #f44336; font-weight: bold; font-size: 16px; }\n        .warning-box { background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 15px 0; border-radius: 5px; }\n        .success-box { background-color: #d4edda; border-left: 4px solid #28a745; padding: 15px; margin: 15px 0; border-radius: 5px; }\n        .details { background-color: #f9f9f9; padding: 15px; margin: 15px 0; border-radius: 5px; }\n        .password { font-family: monospace; background-color: #f4f4f4; padding: 10px; border-radius: 5px; font-size: 14px; word-break: break-all; }\n        .command { background-color: #2d2d2d; color: #f8f8f2; padding: 12px; border-radius: 5px; font-family: monospace; overflow-x: auto; white-space: pre-wrap; }\n        .footer { font-size: 12px; color: #666; text-align: center; margin-top: 20px; padding-top: 10px; border-top: 1px solid #eee; }\n        h3 { margin-top: 20px; margin-bottom: 10px; }\n        ul { margin: 10px 0; }\n        li { margin: 5px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2>⚠️ DATABASE PASSWORD ROTATION FAILED</h2>\n        </div>\n        <div class=\"content\">\n            <p class=\"error\">❌ ERROR! The password rotation workflow encountered a critical failure.</p>\n            \n            <div class=\"warning-box\">\n                <p><strong>❌ Failed Step:</strong> {{$json.failedStep || 'Kubernetes Secret Update'}}</p>\n                <p><strong>⚠️ Error Message:</strong> {{$json.errorMessage || 'Deployment not found - Kubernetes secret could not be updated'}}</p>\n                <p><strong>📅 Failure Time:</strong> {{$json.timestamp}}</p>\n            </div>\n            \n            <div class=\"success-box\">\n                <p><strong>✅ PARTIAL SUCCESS:</strong> The PostgreSQL database password WAS updated successfully!</p>\n                <p>However, the Kubernetes secret update failed.</p>\n            </div>\n            \n            <div class=\"details\">\n                <p><strong>👤 Username:</strong> {{$json.username}}</p>\n                <p><strong>🔑 NEW Password (IMPORTANT - Save this):</strong></p>\n                <code class=\"password\">{{$json.newPassword}}</code>\n                <p style=\"margin-top: 15px;\"><strong>🚀 Deployment:</strong> {{$json.deploymentName || 'Unknown'}}</p>\n            </div>\n            \n            <h3>⚠️ IMMEDIATE ACTION REQUIRED:</h3>\n            <p>The database password has been changed, but the Kubernetes secret was NOT updated. This means:</p>\n            <ul>\n                <li>✅ Database password is updated</li>\n                <li>❌ Applications using Kubernetes secrets will NOT work with the new password</li>\n                <li>❌ Deployments will fail to connect to the database</li>\n            </ul>\n            \n            <h3>🔧 Manual Fix Steps:</h3>\n            <div class=\"command\">\n                # 1. Update the Kubernetes secret with the new password<br>\n                kubectl patch secret db-credentials -n default -p '{\"data\":{\"password\":\"'$(echo -n \"{{$json.newPassword}}\" | base64)'\"}}'<br><br>\n                \n                # 2. Verify the secret was updated<br>\n                kubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode<br>\n                echo \"\"<br><br>\n                \n                # 3. Restart the deployment to pick up the new secret<br>\n                kubectl rollout restart deployment/db-test-deployment -n default<br><br>\n                \n                # 4. Check pod status<br>\n                kubectl get pods -n default -w\n            </div>\n            \n            <h3>📋 Verification Commands:</h3>\n            <div class=\"command\">\n                # Check current secret password<br>\n                kubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode && echo \"\"<br><br>\n                \n                # Check if pods are using the new secret<br>\n                kubectl get pods -n default -o json | jq '.items[].spec.containers[].env[] | select(.name==\"DB_PASSWORD\")'\n            </div>\n            \n            <hr>\n            <p><em>This is an automated failure alert from n8n Database & Secret Rotation Workflow.</em></p>\n            <p><strong>⚠️ Manual intervention is required to complete the rotation process.</strong></p>\n        </div>\n        <div class=\"footer\">\n            <p>n8n Automation | Password Rotation System - Manual Action Required</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2784,
        -480
      ],
      "id": "0f383f2d-a4be-44d6-95e6-0dabd16be7a7",
      "name": "Send an Email1",
      "webhookId": "423575a4-ec41-410b-a1a4-98f6d456dafc",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N ⚠️ FAILURE: Database Password Rotation Failed - {{$json.username}}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Password Rotation Failure</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 20px;\n        }\n        .container {\n            max-width: 650px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n            overflow: hidden;\n        }\n        .header {\n            background-color: #f44336;\n            color: white;\n            padding: 25px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .header p {\n            margin: 10px 0 0;\n            opacity: 0.9;\n        }\n        .content {\n            padding: 30px;\n        }\n        .alert-box {\n            background-color: #fff3cd;\n            border-left: 4px solid #ffc107;\n            padding: 15px;\n            margin-bottom: 25px;\n            border-radius: 5px;\n        }\n        .partial-success {\n            background-color: #d4edda;\n            border-left: 4px solid #28a745;\n            padding: 15px;\n            margin-bottom: 25px;\n            border-radius: 5px;\n        }\n        .credentials-box {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            text-align: center;\n        }\n        .username {\n            font-size: 18px;\n            color: #495057;\n            margin-bottom: 10px;\n        }\n        .password {\n            font-family: 'Courier New', monospace;\n            font-size: 20px;\n            font-weight: bold;\n            background-color: #2d2d2d;\n            color: #4caf50;\n            padding: 12px;\n            border-radius: 5px;\n            word-break: break-all;\n            display: inline-block;\n            margin: 10px 0;\n        }\n        .error-details {\n            background-color: #f8d7da;\n            border: 1px solid #f5c6cb;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        .command-box {\n            background-color: #2d2d2d;\n            color: #f8f8f2;\n            padding: 15px;\n            border-radius: 8px;\n            font-family: 'Courier New', monospace;\n            font-size: 13px;\n            overflow-x: auto;\n            margin: 15px 0;\n        }\n        .command-box pre {\n            margin: 0;\n            white-space: pre-wrap;\n            word-wrap: break-word;\n        }\n        .warning {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 20px;\n            text-align: center;\n            font-size: 12px;\n            color: #6c757d;\n            border-top: 1px solid #dee2e6;\n        }\n        hr {\n            margin: 20px 0;\n            border: none;\n            border-top: 1px solid #dee2e6;\n        }\n        h3 {\n            color: #495057;\n            margin-top: 20px;\n            margin-bottom: 10px;\n        }\n        ul {\n            margin: 10px 0;\n            padding-left: 20px;\n        }\n        li {\n            margin: 5px 0;\n        }\n        .badge {\n            display: inline-block;\n            padding: 3px 8px;\n            border-radius: 3px;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        .badge-failed {\n            background-color: #f44336;\n            color: white;\n        }\n        .badge-success {\n            background-color: #4caf50;\n            color: white;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>⚠️ DATABASE PASSWORD ROTATION FAILED</h1>\n            <p>Manual Intervention Required</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"alert-box\">\n                <strong>❌ STATUS: {{$json.status}}</strong><br>\n                The password rotation workflow encountered a critical failure.\n            </div>\n            \n            <div class=\"partial-success\">\n                <strong>✅ PARTIAL SUCCESS:</strong> The PostgreSQL database password WAS updated successfully!<br>\n                However, the Kubernetes secret update or deployment restart failed.\n            </div>\n            \n            <!-- CREDENTIALS SECTION - ALWAYS DISPLAYED -->\n            <div class=\"credentials-box\">\n                <h3 style=\"margin-top: 0; color: #dc3545;\">🔑 NEW DATABASE CREDENTIALS (SAVE THESE)</h3>\n                <div class=\"username\">\n                    <strong>👤 Username:</strong> {{$json.username}}\n                </div>\n                <div>\n                    <strong>🔐 New Password:</strong><br>\n                    <div class=\"password\">{{$json.newPassword}}</div>\n                </div>\n                <p style=\"font-size: 12px; color: #dc3545; margin-top: 10px;\">\n                    ⚠️ IMPORTANT: These credentials are now active in PostgreSQL but not yet in Kubernetes!\n                </p>\n            </div>\n            \n            <!-- ERROR DETAILS SECTION -->\n            <div class=\"error-details\">\n                <h3 style=\"margin-top: 0;\">❌ Failure Details</h3>\n                <p><strong>Failed Step:</strong> <span class=\"badge badge-failed\">{{$json.failedStep}}</span></p>\n                <p><strong>Error Message:</strong> {{$json.errorMessage}}</p>\n                <p><strong>Failure Time:</strong> {{$json.timestamp}}</p>\n                <p><strong>Deployment:</strong> {{$json.deploymentName}}</p>\n            </div>\n            \n            <h3>⚠️ Why This Happened</h3>\n            <ul>\n                <li>✅ PostgreSQL password: <strong>UPDATED</strong></li>\n                <li>❌ Kubernetes secret: <strong>NOT UPDATED</strong></li>\n                <li>❌ Deployment restart: <strong>FAILED</strong></li>\n            </ul>\n            <p>Applications using Kubernetes secrets will NOT work with the new password until manually fixed.</p>\n            \n            <h3>🔧 Manual Fix Steps (Run on Kubernetes Master Node)</h3>\n            <div class=\"command-box\">\n                <pre>\n# Step 1: Update the Kubernetes secret with the new password\nkubectl patch secret db-credentials -n default -p '{\"data\":{\"password\":\"'$(echo -n \"{{$json.newPassword}}\" | base64)'\"}}'\n\n# Step 2: Verify the secret was updated\nkubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode\necho \"\"\n\n# Step 3: Restart the deployment to pick up the new secret\nkubectl rollout restart deployment/{{$json.deploymentName}} -n default\n\n# Step 4: Check pod status\nkubectl get pods -n default -w\n\n# Step 5: Verify pods are using the new credentials\nkubectl exec -it $(kubectl get pods -n default -l app=db-test -o name | head -1) -n default -- env | grep DB_\n                </pre>\n            </div>\n            \n            <h3>📋 Verification Commands</h3>\n            <div class=\"command-box\">\n                <pre>\n# Check current secret password\nkubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode && echo \"\"\n\n# Check deployment rollout status\nkubectl rollout status deployment/{{$json.deploymentName}} -n default\n\n# Check pod logs\nkubectl logs -l app=db-test -n default --tail=20\n                </pre>\n            </div>\n            \n            <hr>\n            \n            <h3>📝 Summary</h3>\n            <ul>\n                <li><strong>Username:</strong> {{$json.username}}</li>\n                <li><strong>New Password:</strong> <code>{{$json.newPassword}}</code></li>\n                <li><strong>Status:</strong> <span class=\"badge badge-failed\">FAILED - Manual Fix Required</span></li>\n                <li><strong>Database:</strong> Password UPDATED ✓</li>\n                <li><strong>Kubernetes:</strong> Password NOT UPDATED ✗</li>\n            </ul>\n            \n            <p style=\"background-color: #fff3cd; padding: 15px; border-radius: 5px; margin-top: 20px;\">\n                <strong>⚠️ CRITICAL:</strong> Until you complete the manual steps above, applications will fail to connect to the database using the old password. \n                Please fix this immediately to avoid service disruption.\n            </p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated failure alert from <strong>n8n Database & Secret Rotation Workflow</strong></p>\n            <p>Manual intervention required to complete the rotation process.</p>\n            <p style=\"margin-top: 10px;\">📅 Failure Time: {{$json.timestamp}}</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2912,
        -256
      ],
      "id": "1f259cf1-4ee3-415d-99d2-965b78452f6f",
      "name": "Send an Email2",
      "webhookId": "d9f367a7-a1ea-441d-99d4-be3ab2046dbd",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the restart deployment result (this contains the HTTP response or error)\nconst restartData = $input.first().json;\n\n// Get user data from password generator node\nconst userData = $node['Code in JavaScript'].json;\n\n// Initialize variables\nlet success = false;\nlet errorMessage = \"\";\nlet failedStep = \"\";\nlet deploymentName = \"backend\";\n\n// Check what kind of response we got\nif (restartData) {\n    // Case 1: n8n error object (when Continue on Fail is enabled)\n    if (restartData.error) {\n        success = false;\n        errorMessage = restartData.error.message || \"Unknown error occurred\";\n        failedStep = \"HTTP Request1 (Restart Deployment)\";\n        \n        // Check for 404 not found\n        if (errorMessage.includes(\"404\") || errorMessage.includes(\"not found\")) {\n            failedStep = \"Deployment Restart (404 Not Found)\";\n            errorMessage = \"Deployment 'db-test-deployment' not found in Kubernetes cluster\";\n        }\n    }\n    // Case 2: HTTP Error Response with code\n    else if (restartData.code && restartData.code !== 200) {\n        success = false;\n        errorMessage = restartData.message || `HTTP Error ${restartData.code}`;\n        failedStep = \"Kubernetes API - Restart Deployment\";\n        \n        if (restartData.code === 404) {\n            errorMessage = \"Deployment 'db-test-deployment' not found\";\n            failedStep = \"Deployment Restart (404 Not Found)\";\n        }\n    }\n    // Case 3: Successful response with metadata\n    else if (restartData.metadata && restartData.metadata.name) {\n        success = true;\n        errorMessage = \"\";\n        failedStep = \"\";\n        deploymentName = restartData.metadata.name;\n    }\n    // Case 4: Any other case - consider as failure\n    else {\n        success = false;\n        errorMessage = \"Deployment restart failed - unexpected response from Kubernetes API\";\n        failedStep = \"Kubernetes API\";\n    }\n} else {\n    // Case 5: No data returned\n    success = false;\n    errorMessage = \"No response received from Kubernetes API - deployment may not exist\";\n    failedStep = \"Kubernetes API\";\n}\n\n// ALWAYS return username and password, even on failure\nreturn [\n    {\n        json: {\n            username: userData.username,\n            newPassword: userData.newPassword,\n            success: success,\n            errorMessage: errorMessage,\n            failedStep: failedStep,\n            timestamp: new Date().toISOString(),\n            deploymentName: deploymentName,\n            status: success ? \"SUCCESS\" : \"FAILED\"\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -448
      ],
      "id": "656f5612-7860-4a31-baa0-87b01dfbcba3",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N ⚠️ CRITICAL: Secret Not Found - {{$json.username}} - Password Rotation Stopped",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Password Rotation Failure - Secret Not Found</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n            line-height: 1.5;\n            background-color: #f7f7f7;\n            margin: 0;\n            padding: 20px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n            overflow: hidden;\n        }\n        .header {\n            background: #dc3545;\n            color: white;\n            padding: 24px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 22px;\n        }\n        .header p {\n            margin: 8px 0 0;\n            opacity: 0.9;\n            font-size: 14px;\n        }\n        .content {\n            padding: 24px;\n        }\n        .credentials {\n            background: #f0f2f5;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 16px 0;\n            text-align: center;\n            border: 1px solid #e0e0e0;\n        }\n        .credentials h3 {\n            margin: 0 0 12px;\n            color: #333;\n            font-size: 16px;\n        }\n        .username {\n            font-size: 16px;\n            margin: 8px 0;\n        }\n        .password {\n            font-family: 'Monaco', 'Menlo', monospace;\n            font-size: 18px;\n            font-weight: bold;\n            background: #2d2d2d;\n            color: #4caf50;\n            padding: 12px 16px;\n            border-radius: 6px;\n            word-break: break-all;\n            display: inline-block;\n            margin: 8px 0;\n        }\n        .success-badge {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .error-box {\n            background: #fee;\n            border-left: 3px solid #dc3545;\n            padding: 12px 16px;\n            margin: 16px 0;\n            border-radius: 4px;\n            font-size: 14px;\n        }\n        .info-box {\n            background: #e8f4f8;\n            border-left: 3px solid #17a2b8;\n            padding: 12px 16px;\n            margin: 16px 0;\n            border-radius: 4px;\n        }\n        .warning-box {\n            background: #fff3e0;\n            border-left: 3px solid #ffc107;\n            padding: 12px 16px;\n            margin: 16px 0;\n            border-radius: 4px;\n        }\n        .command-box {\n            background: #1e1e1e;\n            color: #d4d4d4;\n            padding: 16px;\n            border-radius: 6px;\n            font-family: 'Monaco', 'Menlo', monospace;\n            font-size: 12px;\n            overflow-x: auto;\n            margin: 16px 0;\n        }\n        .command-box pre {\n            margin: 0;\n            white-space: pre-wrap;\n            word-wrap: break-word;\n        }\n        .footer {\n            background: #f8f9fa;\n            padding: 16px;\n            text-align: center;\n            font-size: 11px;\n            color: #6c757d;\n            border-top: 1px solid #e9ecef;\n        }\n        hr {\n            margin: 20px 0;\n            border: none;\n            border-top: 1px solid #e9ecef;\n        }\n        ul {\n            margin: 8px 0;\n            padding-left: 20px;\n        }\n        li {\n            margin: 6px 0;\n        }\n        .summary-box {\n            background: #f8d7da;\n            padding: 16px;\n            border-radius: 8px;\n            margin-top: 20px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>⚠️ CRITICAL: SECRET NOT FOUND</h1>\n            <p>Password Rotation Stopped - Manual Intervention Required</p>\n        </div>\n        \n        <div class=\"content\">\n            <!-- CREDENTIALS -->\n            <div class=\"credentials\">\n                <h3>🔑 NEW DATABASE CREDENTIALS</h3>\n                <div class=\"username\">\n                    <strong>Username:</strong> {{$json.username}}\n                </div>\n                <div>\n                    <strong>Password:</strong>\n                    <div class=\"password\">{{$json.newPassword}}</div>\n                </div>\n                <p style=\"font-size: 12px; margin: 12px 0 0; color: #28a745;\">\n                    ✓ PostgreSQL password was updated successfully\n                </p>\n            </div>\n            \n            <!-- ERROR -->\n            <div class=\"error-box\">\n                <strong>❌ Error:</strong> {{$json.errorMessage}}<br>\n                <strong>Time:</strong> {{$json.formattedTime}}<br>\n                <strong>Status Code:</strong> {{$json.statusCode}}\n            </div>\n            \n            <!-- WHAT HAPPENED -->\n            <div class=\"info-box\">\n                <strong>📋 What Happened</strong>\n                <ul>\n                    <li>✓ PostgreSQL password: <span style=\"color: #28a745;\">UPDATED</span></li>\n                    <li>✗ Kubernetes secret 'db-credentials': <span style=\"color: #dc3545;\">NOT FOUND</span></li>\n                    <li>✗ Secret update: <span style=\"color: #dc3545;\">FAILED (404)</span></li>\n                    <li>⏹️ Workflow: <span style=\"color: #ffc107;\">STOPPED</span> - no deployment restart</li>\n                </ul>\n            </div>\n            \n            <!-- ACTION REQUIRED -->\n            <div class=\"warning-box\">\n                <strong>⚠️ IMMEDIATE ACTION REQUIRED</strong><br>\n                The database password has been changed, but the Kubernetes secret does not exist.<br>\n                <strong>Applications will FAIL to connect to the database until this is fixed.</strong>\n            </div>\n            \n            <!-- FIX COMMANDS -->\n            <h3 style=\"margin: 20px 0 10px;\">🔧 Manual Fix Steps</h3>\n            <div class=\"command-box\">\n                <pre>\n# Create the secret with the new credentials\nkubectl create secret generic db-credentials -n default \\\n  --from-literal=username={{$json.username}} \\\n  --from-literal=password={{$json.newPassword}}\n\n# Verify the secret\nkubectl get secret db-credentials -n default\n\n# Restart the deployment\nkubectl rollout restart deployment/db-test-deployment -n default\n\n# Check deployment status\nkubectl rollout status deployment/db-test-deployment -n default</pre>\n            </div>\n            \n            <!-- ONE-LINER -->\n            <h3 style=\"margin: 20px 0 10px;\">📋 One-Liner Fix</h3>\n            <div class=\"command-box\">\n                <pre>\nkubectl create secret generic db-credentials -n default \\\n  --from-literal=username={{$json.username}} \\\n  --from-literal=password={{$json.newPassword}} \\\n  --dry-run=client -o yaml | kubectl apply -f - && \\\nkubectl rollout restart deployment/db-test-deployment -n default</pre>\n            </div>\n            \n            <!-- SUMMARY -->\n            <div class=\"summary-box\">\n                <strong>⚠️ CRITICAL SUMMARY</strong><br>\n                • PostgreSQL Password: <span style=\"color: #28a745;\">UPDATED ✓</span><br>\n                • Kubernetes Secret: <span style=\"color: #dc3545;\">NOT FOUND ✗</span><br>\n                • Deployment: <span style=\"color: #dc3545;\">NOT RESTARTED ✗</span><br><br>\n                <strong>🚨 Applications cannot connect to the database!</strong><br>\n                Please complete the manual steps above immediately.\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p><strong>n8n Database & Secret Rotation Workflow</strong><br>\n            Automated failure alert | Time: {{$json.formattedTime}}<br>\n            ⚠️ Manual intervention required</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1968,
        448
      ],
      "id": "c37b70e2-662e-45a5-b76f-b82319bf9516",
      "name": "Send an Email3",
      "webhookId": "7513425c-616d-4402-961e-ec87db3af16a",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ab8dfa1-fb95-4625-acac-135ed0ad17da",
              "leftValue": "={{$json.secretExists}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        144
      ],
      "id": "aba909b7-4a19-44d9-bfcb-47c31da4068f",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTTP response (this contains the error object)\nconst httpResponse = $input.first().json;\n\n// Get user data from previous nodes - try multiple possible node names\nlet userData = { username: \"unknown\", newPassword: \"unknown\", base64Username: \"\", base64Password: \"\" };\n\n// Try to get data from various possible node names\nconst possibleNodeNames = [\n    'Code in JavaScript',      // Password generator\n    'Code in JavaScript2',     // Base64 encode (if exists)\n    'Code in JavaScript5',     // Status check\n    'Code in JavaScript1',     // Alternative name\n    'Generate Password'        // If renamed\n];\n\nfor (const nodeName of possibleNodeNames) {\n    try {\n        if ($node[nodeName] && $node[nodeName].json) {\n            const nodeData = $node[nodeName].json;\n            \n            // Check if this node has username and password\n            if (nodeData.username && nodeData.username !== \"unknown\") {\n                userData.username = nodeData.username;\n                userData.newPassword = nodeData.newPassword || userData.newPassword;\n                userData.base64Username = nodeData.base64Username || \"\";\n                userData.base64Password = nodeData.base64Password || \"\";\n                console.log(`Found user data in node: ${nodeName}`);\n                break;\n            }\n            // Check if data is nested\n            else if (nodeData.originalData && nodeData.originalData.data) {\n                userData.username = atob(nodeData.originalData.data.username) || \"unknown\";\n                userData.newPassword = atob(nodeData.originalData.data.password) || \"unknown\";\n                console.log(`Found user data in nested data from node: ${nodeName}`);\n                break;\n            }\n        }\n    } catch (e) {\n        // Node doesn't exist or not executed\n        continue;\n    }\n}\n\n// Also try to get from the previous HTTP Request input\ntry {\n    const previousNode = $node['HTTP Request'];\n    if (previousNode && previousNode.json && previousNode.json.data) {\n        if (!userData.username || userData.username === \"unknown\") {\n            userData.username = atob(previousNode.json.data.username) || \"unknown\";\n            userData.newPassword = atob(previousNode.json.data.password) || \"unknown\";\n            console.log(\"Found user data from HTTP Request node\");\n        }\n    }\n} catch (e) {\n    // Not available\n}\n\n// Initialize status\nlet secretExists = false;\nlet errorMessage = \"\";\nlet statusCode = 500;\n\n// Check if there's an error (404 case)\nif (httpResponse && httpResponse.error) {\n    secretExists = false;\n    statusCode = httpResponse.error.status || 404;\n    errorMessage = \"Secret 'db-credentials' not found in namespace 'default'\";\n}\n// Check for HTTP status code error\nelse if (httpResponse && httpResponse.code && httpResponse.code !== 200) {\n    secretExists = false;\n    errorMessage = httpResponse.message || `HTTP Error ${httpResponse.code}`;\n    statusCode = httpResponse.code;\n    if (httpResponse.code === 404) {\n        errorMessage = \"Secret 'db-credentials' not found in namespace 'default'\";\n    }\n}\n// Check for successful response\nelse if (httpResponse && (httpResponse.metadata || httpResponse.data)) {\n    secretExists = true;\n    errorMessage = \"\";\n    statusCode = 200;\n}\n// No data or unknown error\nelse {\n    secretExists = false;\n    errorMessage = \"No response received from Kubernetes API - secret may not exist\";\n    statusCode = 404;\n}\n\n// Return the result with credentials\nreturn [\n    {\n        json: {\n            // Credentials\n            username: userData.username || \"unknown\",\n            newPassword: userData.newPassword || \"unknown\",\n            base64Username: userData.base64Username || \"\",\n            base64Password: userData.base64Password || \"\",\n            \n            // Status\n            secretExists: secretExists,\n            success: secretExists,\n            statusCode: statusCode,\n            errorMessage: errorMessage,\n            \n            // Timestamp\n            timestamp: new Date().toISOString(),\n            formattedTime: new Date().toLocaleString()\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        144
      ],
      "id": "f4666787-831b-44cb-8569-09f2456f4c32",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        32
      ],
      "id": "0eb7faf0-d627-4aff-a08f-ef98c21c86b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get all items\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n    const postgresResult = items[i].json;\n    \n    // Get user data from password generator node\n    let userData = { username: \"unknown\", newPassword: \"unknown\" };\n    try {\n        if ($node['Code in JavaScript'] && $node['Code in JavaScript'].json) {\n            userData = $node['Code in JavaScript'].json;\n        }\n    } catch (e) {\n        // Use data from postgres result if available\n        if (postgresResult && postgresResult.username) {\n            userData.username = postgresResult.username;\n        }\n    }\n    \n    // Check if PostgreSQL update was successful\n    let postgresSuccess = false;\n    let errorMessage = \"\";\n    let statusCode = 200;\n    \n    if (postgresResult && postgresResult.success === true) {\n        postgresSuccess = true;\n    } \n    else if (postgresResult && postgresResult.error) {\n        postgresSuccess = false;\n        errorMessage = postgresResult.error.message || \"PostgreSQL ALTER USER failed\";\n        statusCode = 500;\n    } \n    else if (postgresResult && Object.keys(postgresResult).length > 0) {\n        postgresSuccess = true;\n    } \n    else {\n        postgresSuccess = false;\n        errorMessage = \"PostgreSQL ALTER USER failed - no response\";\n        statusCode = 500;\n    }\n    \n    results.push({\n        json: {\n            username: userData.username,\n            newPassword: userData.newPassword,\n            postgresSuccess: postgresSuccess,\n            errorMessage: errorMessage,\n            statusCode: statusCode,\n            timestamp: new Date().toISOString(),\n            formattedTime: new Date().toLocaleString()\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        32
      ],
      "id": "d729416f-bcd8-4d61-8f23-77d764c8c87a",
      "name": "Code in JavaScript6",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ab8dfa1-fb95-4625-acac-135ed0ad17da",
              "leftValue": "={{$json.postgresSuccess}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        336
      ],
      "id": "38534f1e-71bd-4108-88c4-c30e78229537",
      "name": "If2"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N ⚠️ FAILURE: PostgreSQL Password Update Failed - {{$json.username}}",
        "html": "=<h2>⚠️ PostgreSQL Password Update Failed</h2>\n\n<p><strong>Username:</strong> {{$json.username}}</p>\n<p><strong>New Password:</strong> <code>{{$json.newPassword}}</code></p>\n\n<div style=\"background-color: #f8d7da; padding: 15px; border-left: 4px solid #dc3545;\">\n    <strong>❌ Error:</strong> {{$json.errorMessage}}<br>\n    <strong>Time:</strong> {{$json.formattedTime}}<br>\n    <strong>Status Code:</strong> {{$json.statusCode}}\n</div>\n\n<h3>🔧 Manual Fix:</h3>\n<pre style=\"background-color: #2d2d2d; color: #fff; padding: 15px;\">\npsql -U postgres -d your_database\nALTER USER \"{{$json.username}}\" WITH PASSWORD '{{$json.newPassword}}';\n</pre>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        192,
        688
      ],
      "id": "a5b8004d-b440-47fa-ae15-e6137360af33",
      "name": "Send an Email4",
      "webhookId": "7513425c-616d-4402-961e-ec87db3af16a",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://1.1.1.1:6443/apis/apps/v1/namespaces/default/deployments/pgbouncer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/strategic-merge-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"spec\": {\n    \"template\": {\n      \"metadata\": {\n        \"annotations\": {\n          \"kubectl.kubernetes.io/restartedAt\": \"{{new Date().toISOString()}}\"\n        }\n      }\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        -336
      ],
      "id": "af1deb35-9a4a-4f36-b121-4c29988e7e0f",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "Yxof34MNhoD5GwyD",
          "name": "Bearer Auth account 5"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the restart deployment result (this contains the HTTP response or error)\nconst restartData = $input.first().json;\n\n// Get user data from password generator node\nconst userData = $node['Code in JavaScript'].json;\n\n// Initialize variables\nlet success = false;\nlet errorMessage = \"\";\nlet failedStep = \"\";\nlet deploymentName = \"pgbouncer\";\n\n// Check what kind of response we got\nif (restartData) {\n    // Case 1: n8n error object (when Continue on Fail is enabled)\n    if (restartData.error) {\n        success = false;\n        errorMessage = restartData.error.message || \"Unknown error occurred\";\n        failedStep = \"HTTP Request1 (Restart Deployment)\";\n        \n        // Check for 404 not found\n        if (errorMessage.includes(\"404\") || errorMessage.includes(\"not found\")) {\n            failedStep = \"Deployment Restart (404 Not Found)\";\n            errorMessage = \"Deployment 'db-test-deployment' not found in Kubernetes cluster\";\n        }\n    }\n    // Case 2: HTTP Error Response with code\n    else if (restartData.code && restartData.code !== 200) {\n        success = false;\n        errorMessage = restartData.message || `HTTP Error ${restartData.code}`;\n        failedStep = \"Kubernetes API - Restart Deployment\";\n        \n        if (restartData.code === 404) {\n            errorMessage = \"Deployment 'db-test-deployment' not found\";\n            failedStep = \"Deployment Restart (404 Not Found)\";\n        }\n    }\n    // Case 3: Successful response with metadata\n    else if (restartData.metadata && restartData.metadata.name) {\n        success = true;\n        errorMessage = \"\";\n        failedStep = \"\";\n        deploymentName = restartData.metadata.name;\n    }\n    // Case 4: Any other case - consider as failure\n    else {\n        success = false;\n        errorMessage = \"Deployment restart failed - unexpected response from Kubernetes API\";\n        failedStep = \"Kubernetes API\";\n    }\n} else {\n    // Case 5: No data returned\n    success = false;\n    errorMessage = \"No response received from Kubernetes API - deployment may not exist\";\n    failedStep = \"Kubernetes API\";\n}\n\n// ALWAYS return username and password, even on failure\nreturn [\n    {\n        json: {\n            username: userData.username,\n            newPassword: userData.newPassword,\n            success: success,\n            errorMessage: errorMessage,\n            failedStep: failedStep,\n            timestamp: new Date().toISOString(),\n            deploymentName: deploymentName,\n            status: success ? \"SUCCESS\" : \"FAILED\"\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -208
      ],
      "id": "8e4506e6-909b-4dc9-a480-c8472f1e6cd7",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@ismailwajdi.me",
        "toEmail": "wajdi.ismail@ismailwajdi.me",
        "subject": "N8N ⚠️ FAILURE: Database Password Rotation Failed - {{$json.username}}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Password Rotation Failure</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 20px;\n        }\n        .container {\n            max-width: 650px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n            overflow: hidden;\n        }\n        .header {\n            background-color: #f44336;\n            color: white;\n            padding: 25px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .header p {\n            margin: 10px 0 0;\n            opacity: 0.9;\n        }\n        .content {\n            padding: 30px;\n        }\n        .alert-box {\n            background-color: #fff3cd;\n            border-left: 4px solid #ffc107;\n            padding: 15px;\n            margin-bottom: 25px;\n            border-radius: 5px;\n        }\n        .partial-success {\n            background-color: #d4edda;\n            border-left: 4px solid #28a745;\n            padding: 15px;\n            margin-bottom: 25px;\n            border-radius: 5px;\n        }\n        .credentials-box {\n            background-color: #f8f9fa;\n            border: 1px solid #dee2e6;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            text-align: center;\n        }\n        .username {\n            font-size: 18px;\n            color: #495057;\n            margin-bottom: 10px;\n        }\n        .password {\n            font-family: 'Courier New', monospace;\n            font-size: 20px;\n            font-weight: bold;\n            background-color: #2d2d2d;\n            color: #4caf50;\n            padding: 12px;\n            border-radius: 5px;\n            word-break: break-all;\n            display: inline-block;\n            margin: 10px 0;\n        }\n        .error-details {\n            background-color: #f8d7da;\n            border: 1px solid #f5c6cb;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        .command-box {\n            background-color: #2d2d2d;\n            color: #f8f8f2;\n            padding: 15px;\n            border-radius: 8px;\n            font-family: 'Courier New', monospace;\n            font-size: 13px;\n            overflow-x: auto;\n            margin: 15px 0;\n        }\n        .command-box pre {\n            margin: 0;\n            white-space: pre-wrap;\n            word-wrap: break-word;\n        }\n        .warning {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 20px;\n            text-align: center;\n            font-size: 12px;\n            color: #6c757d;\n            border-top: 1px solid #dee2e6;\n        }\n        hr {\n            margin: 20px 0;\n            border: none;\n            border-top: 1px solid #dee2e6;\n        }\n        h3 {\n            color: #495057;\n            margin-top: 20px;\n            margin-bottom: 10px;\n        }\n        ul {\n            margin: 10px 0;\n            padding-left: 20px;\n        }\n        li {\n            margin: 5px 0;\n        }\n        .badge {\n            display: inline-block;\n            padding: 3px 8px;\n            border-radius: 3px;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        .badge-failed {\n            background-color: #f44336;\n            color: white;\n        }\n        .badge-success {\n            background-color: #4caf50;\n            color: white;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>⚠️ DATABASE PASSWORD ROTATION FAILED</h1>\n            <p>Manual Intervention Required</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"alert-box\">\n                <strong>❌ STATUS: {{$json.status}}</strong><br>\n                The password rotation workflow encountered a critical failure.\n            </div>\n            \n            <div class=\"partial-success\">\n                <strong>✅ PARTIAL SUCCESS:</strong> The PostgreSQL database password WAS updated successfully!<br>\n                However, the Kubernetes secret update or deployment restart failed.\n            </div>\n            \n            <!-- CREDENTIALS SECTION - ALWAYS DISPLAYED -->\n            <div class=\"credentials-box\">\n                <h3 style=\"margin-top: 0; color: #dc3545;\">🔑 NEW DATABASE CREDENTIALS (SAVE THESE)</h3>\n                <div class=\"username\">\n                    <strong>👤 Username:</strong> {{$json.username}}\n                </div>\n                <div>\n                    <strong>🔐 New Password:</strong><br>\n                    <div class=\"password\">{{$json.newPassword}}</div>\n                </div>\n                <p style=\"font-size: 12px; color: #dc3545; margin-top: 10px;\">\n                    ⚠️ IMPORTANT: These credentials are now active in PostgreSQL but not yet in Kubernetes!\n                </p>\n            </div>\n            \n            <!-- ERROR DETAILS SECTION -->\n            <div class=\"error-details\">\n                <h3 style=\"margin-top: 0;\">❌ Failure Details</h3>\n                <p><strong>Failed Step:</strong> <span class=\"badge badge-failed\">{{$json.failedStep}}</span></p>\n                <p><strong>Error Message:</strong> {{$json.errorMessage}}</p>\n                <p><strong>Failure Time:</strong> {{$json.timestamp}}</p>\n                <p><strong>Deployment:</strong> {{$json.deploymentName}}</p>\n            </div>\n            \n            <h3>⚠️ Why This Happened</h3>\n            <ul>\n                <li>✅ PostgreSQL password: <strong>UPDATED</strong></li>\n                <li>❌ Kubernetes secret: <strong>NOT UPDATED</strong></li>\n                <li>❌ Deployment restart: <strong>FAILED</strong></li>\n            </ul>\n            <p>Applications using Kubernetes secrets will NOT work with the new password until manually fixed.</p>\n            \n            <h3>🔧 Manual Fix Steps (Run on Kubernetes Master Node)</h3>\n            <div class=\"command-box\">\n                <pre>\n# Step 1: Update the Kubernetes secret with the new password\nkubectl patch secret db-credentials -n default -p '{\"data\":{\"password\":\"'$(echo -n \"{{$json.newPassword}}\" | base64)'\"}}'\n\n# Step 2: Verify the secret was updated\nkubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode\necho \"\"\n\n# Step 3: Restart the deployment to pick up the new secret\nkubectl rollout restart deployment/{{$json.deploymentName}} -n default\n\n# Step 4: Check pod status\nkubectl get pods -n default -w\n\n# Step 5: Verify pods are using the new credentials\nkubectl exec -it $(kubectl get pods -n default -l app=db-test -o name | head -1) -n default -- env | grep DB_\n                </pre>\n            </div>\n            \n            <h3>📋 Verification Commands</h3>\n            <div class=\"command-box\">\n                <pre>\n# Check current secret password\nkubectl get secret db-credentials -n default -o jsonpath='{.data.password}' | base64 --decode && echo \"\"\n\n# Check deployment rollout status\nkubectl rollout status deployment/{{$json.deploymentName}} -n default\n\n# Check pod logs\nkubectl logs -l app=db-test -n default --tail=20\n                </pre>\n            </div>\n            \n            <hr>\n            \n            <h3>📝 Summary</h3>\n            <ul>\n                <li><strong>Username:</strong> {{$json.username}}</li>\n                <li><strong>New Password:</strong> <code>{{$json.newPassword}}</code></li>\n                <li><strong>Status:</strong> <span class=\"badge badge-failed\">FAILED - Manual Fix Required</span></li>\n                <li><strong>Database:</strong> Password UPDATED ✓</li>\n                <li><strong>Kubernetes:</strong> Password NOT UPDATED ✗</li>\n            </ul>\n            \n            <p style=\"background-color: #fff3cd; padding: 15px; border-radius: 5px; margin-top: 20px;\">\n                <strong>⚠️ CRITICAL:</strong> Until you complete the manual steps above, applications will fail to connect to the database using the old password. \n                Please fix this immediately to avoid service disruption.\n            </p>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated failure alert from <strong>n8n Database & Secret Rotation Workflow</strong></p>\n            <p>Manual intervention required to complete the rotation process.</p>\n            <p style=\"margin-top: 10px;\">📅 Failure Time: {{$json.timestamp}}</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2480,
        -32
      ],
      "id": "71cc82b4-22ce-4336-96d1-59e0cf4fecf2",
      "name": "Send an Email5",
      "webhookId": "d9f367a7-a1ea-441d-99d4-be3ab2046dbd",
      "credentials": {
        "smtp": {
          "id": "UHrSBx946dgv5fOI",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-25T03:38:49.779-04:00",
          "Readable date": "March 25th 2026, 3:38:49 am",
          "Readable time": "3:38:49 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "25",
          "Hour": "03",
          "Minute": "38",
          "Second": "49",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Send an Email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "63cf825a-53d5-428c-a6fd-f71b5f12793c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b219e24d2493393df6f63cebd7082104acf1066932a991cee41e73d9e1d2f59f"
  },
  "id": "JQq8dJW4BB0Xyee3",
  "tags": []
}